server:
  min_threads: 1
  max_threads: 32
  workers: 8
  ports:
    - 9000
    - 3000
    - 80
  demonize: false
synchronizer:
  api_key: rxitSuW3RDcXxX1v7po7
  protocol: https
  host: destinationbook-staging.herokuapp.com
  uri:
    trips: export/trips
    wallet: export
device:
  uuid: 'boatserver'
